version: '3.8'

services:
  wiremock:
    image: wiremock/wiremock:2.35.0
    container_name: wiremock_for_client_collector
    ports:
      - "8089:8080"
    volumes:
      - ./wiremock:/home/wiremock
    command: ["--global-response-templating"]
  postgres:
    image: postgres:16
    container_name: postgres_for_client_collector
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: